@{
    ViewData["Title"] = "À propos";
}

<div class="text-center">
    <h1 class="display-4">À propos de nous</h1>
    <img src="~/images/logo_transparent.png" alt="Logo de l'entreprise" width="500" height="500">
    <p style="font-size: 30px">
        Depuis 1987, la famille Cyr est réputée pour offrir un service personnalisé et de qualité.
        Celle-ci se fait un devoir de vous conseiller adéquatement pour vos besoins en matière d’équipement
        sportif pour vous et votre famille. Venez nous rencontrer et soyez assuré que vous serez traité avec soin
        par un de nos dévoués employés.
    </p>
</div>