@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <main role="main" class="pb-3">
        <div class="text-center">
            <h1 class="display-4">Bienvenue</h1>
            <img src="~/images/logo_transparent.png" alt="Logo de l'entreprise" width="500" height="500">
            <h4 class="display-6"><a href="/Produits">Voir notre catalogue</a></h4>
        </div>
    </main>
</div>