@{
    ViewData["Title"] = "Merci";
}

<div class="text-center">
    <h1 class="display-4">Merci de votre achat!</h1>
    <img src="~/images/logo_transparent.png" alt="Logo de l'entreprise" width="500" height="500">

    <a class="nav-link text-dark" href="/Historiques">Voir mon historique d'achat</a>
</div>


